<div class="container-fluid mt-1"> 
    <div class="row">
        <div class="col-8">
            <div class="card mb-3">
                <div class="card-header">
                     <div class="row">
                        <div class="col-4">
                            <input type="text" [(ngModel)]="title" class="form-control" placeholder="search by Title">
                        </div>
                        <div class="col-4">
                            <input type="text"  [(ngModel)]="videoTye" class="form-control" placeholder="search by Video Type">
                        </div>
                        <div class="col-4">
                            <input type="button" value="Search"  (click)="getSearch()" class="btn btn-success">
                            <input type="button" value="Reset"  (click)="loadVideoDetails()" class="btn btn-success">
                        </div>
                     </div>
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th>Title</th>
                                <th>Video Type</th>
                                <th>Duration</th> 
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let video of videoDetailsList">
                                <td>{{ video.title }}</td>
                                <td>{{ video.videoType }}</td>
                                <td>{{ video.duration }}</td>
                                <td>
                                    <button class="btn btn-primary btn-sm"
                                        (click)="selectVideoDetail(video)">Edit</button>
                                    <button class="btn btn-danger btn-sm"
                                        (click)="deleteVideoDetail(video.id)">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card mb-3">
                <div class="card-header">
                    <h5>{{ isEditMode ? 'Edit Video Detail' : 'Add New Video Detail' }}</h5>
                </div>
                <div class="card-body">
                    <form (ngSubmit)="saveVideoDetail()">
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input type="text" placeholder="Copy Title From youtube Video" class="form-control" [(ngModel)]="selectedVideoDetail.title"
                                name="title" required />
                        </div>
                        <div class="form-group">
                            <label for="liveVersion">Live Version</label>
                            <input type="text" placeholder="Check Video Description if live Version Provided" class="form-control"
                                [(ngModel)]="selectedVideoDetail.liveVersion" name="liveVersion" required />
                        </div>
                        <div class="form-group">
                            <label for="videoType">Video Type</label>
                            <div class="row">
                                <div class="col-6" *ngFor="let type of availableVideoTypes">
                                    <input
                                    type="checkbox"
                                    [value]="type"
                                    (change)="onCheckboxChange($event)"
                                    [checked]="selectedVideoTypes.includes(type)"
                                  />
                                  {{ type }}
                                </div>
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="col-md-6"> 
                                <div class="form-group">
                                    <label for="url">URL</label>
                                    <input type="text" placeholder="check video and get last code only" class="form-control" [(ngModel)]="selectedVideoDetail.url"
                                        name="url" required />
                                </div> 
                            </div>
                            <div class="col-md-6"> 
                                <div class="form-group">
                                    <label for="duration">Duration</label>
                                    <input type="text" class="form-control" placeholder="Enter 30 Min if Less that 1 hr or 1 hr or 2hr" [(ngModel)]="selectedVideoDetail.duration"
                                        name="duration" required />
                                </div> 
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea class="form-control" rows="3"  placeholder="Copy Starting description from video" [(ngModel)]="selectedVideoDetail.description"
                                name="description" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-success mt-3">{{ isEditMode ? 'Update' : 'Add' }}</button>
                        <button type="button" class="btn btn-secondary mt-3" (click)="clearForm()">Clear</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Form for Create/Update -->


    <!-- List of Video Details -->

</div>