<section class="projects section" id="projects">
    <div class="projects__container container grid">
        @for (item of projects; track $index) {
            <article class="projects__card" >
                <div class="projects__image">
                    <img [src]="item.thumbnailName"
                        alt="image" class="projects__img">
    
                    <a href="#" class="projects__button button">
                        <i class="ri-arrow-right-up-line"></i>
                    </a>
                </div>
    
                <div class="projects__content">
                    <h3 class="projects__subtitle">Website</h3>
                    <h2 class="projects__title">{{item.projectShortName}}</h2>
    
                    <p class="projects__description">
                        {{item.description}}
                    </p>
                </div>
    
                <div class="projects__buttons">
                    <a href="https://github.com/" target="_blank" class="projects__link">
                        <i class="ri-github-line"></i> Source Code
                    </a>
    
                    <a href="https://dribbble.com/" target="_blank" class="projects__link">
                        <i class="ri-dribbble-line"></i> View
                    </a>
                </div>
            </article>
        }
       
    </div>
</section>